.btn {
    padding: 10px 30px;
    border-radius: 30px;
    display: inline-block;
    color: white;
    font-size: 12px;
    outline: none;
    border: none;
    text-decoration: none;
    line-height: 1;

    &.blue {
        background: var(--bleu-btn);
    }

    &.white {
        background: white;
    }

    &.block {
        display: block;
        background: red;
    }
}